In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
def preprocess_df(df, fileName):
    print("\nOriginal - {}: {}".format(fileName, df.shape))
    df = df.replace("?", np.nan)
    df = df.dropna(how='any') 
    df.to_csv(os.path.join("preprocess", fileName), index=False)
    df = pd.read_csv(os.path.join("preprocess", fileName))
    df = df._get_numeric_data()
    df.to_csv(os.path.join("preprocess", fileName), index=False)
    print("Preprocess - {}: {}\n".format(fileName, df.shape))
    return df

In [3]:
df = pd.read_excel(os.path.join("original", "Immunotherapy.xlsx"))
df = preprocess_df(df, "Immuno_Therapy.csv")
df.head()

Original - Immuno_Therapy.csv: (90, 8)
Preprocess - Immuno_Therapy.csv: (90, 8)

,sex,age,Time,Number_of_Warts,Type,Area,induration_diameter,Result_of_Treatment
0,1,22,2.25,14,3,51,50,1
1,1,15,3.00,2,3,900,70,1
2,1,16,10.50,2,1,100,25,1
3,1,27,4.50,9,3,80,30,1
4,1,20,8.00,6,1,45,8,1

In [4]:
df = pd.read_csv(os.path.join("original", "breast-cancer-wisconsin.data"))
df = preprocess_df(df, "Breast_Cancer.csv")
df.head()

Original - Breast_Cancer.csv: (699, 11)
Preprocess - Breast_Cancer.csv: (683, 11)

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [5]:
cols = ["Class"] + ["Attribute"+str(i+1) for i in range(56)]
df = pd.read_csv(os.path.join("original", "lung-cancer.data"), names=cols)
cols = cols[1:] + cols[:1]
df = df[cols]
df = preprocess_df(df, "Lung_Cancer.csv")
df.head()

Original - Lung_Cancer.csv: (32, 57)
Preprocess - Lung_Cancer.csv: (27, 57)

,Attribute1,Attribute2,Attribute3,Attribute4,Attribute5,Attribute6,Attribute7,Attribute8,Attribute9,Attribute10,...,Attribute48,Attribute49,Attribute50,Attribute51,Attribute52,Attribute53,Attribute54,Attribute55,Attribute56,Class
0,0,3,3,1,0,3,1,3,1,1,...,2,2,2,2,2,2,1,2,2,1
1,0,3,3,2,0,3,3,3,1,1,...,2,2,2,2,2,2,2,1,2,1
2,0,2,3,2,1,3,3,3,1,2,...,2,2,2,2,2,2,2,2,2,1
3,0,3,2,1,1,3,3,3,2,2,...,2,2,2,2,2,2,1,2,2,1
4,0,3,3,2,0,3,3,3,1,2,...,2,2,2,2,2,2,2,1,2,1

In [6]:
cols = ["Attribute"+str(i+1) for i in range(24)] + ["Class"]
df = pd.read_csv(os.path.join("original", "german.data-numeric"), delim_whitespace=True, names=cols)
df = preprocess_df(df, "German_Credit.csv")
df.head()

Original - German_Credit.csv: (1000, 25)
Preprocess - German_Credit.csv: (1000, 25)

,Attribute1,Attribute2,Attribute3,Attribute4,Attribute5,Attribute6,Attribute7,Attribute8,Attribute9,Attribute10,...,Attribute16,Attribute17,Attribute18,Attribute19,Attribute20,Attribute21,Attribute22,Attribute23,Attribute24,Class
0,1,6,4,12,5,5,3,4,1,67,...,0,0,1,0,0,1,0,0,1,1
1,2,48,2,60,1,3,2,2,1,22,...,0,0,1,0,0,1,0,0,1,2
2,4,12,4,21,1,4,3,3,1,49,...,0,0,1,0,0,1,0,1,0,1
3,1,42,2,79,1,4,3,4,2,45,...,0,0,0,0,0,0,0,0,1,1
4,1,24,3,49,1,3,3,4,4,53,...,1,0,1,0,0,0,0,0,1,2

In [7]:
df = pd.read_csv(os.path.join("original", "setapProcess.csv"))
df['SE Process grade'] = df['SE Process grade'].map({'A': 1, 'F': 0})
df = preprocess_df(df, "SE_Process.csv")
df.head()

Original - SE_Process.csv: (793, 85)
Preprocess - SE_Process.csv: (793, 85)

,teamMemberCount,femaleTeamMembersPercent,teamLeadGender,teamDistribution,teamMemberResponseCount,meetingHoursTotal,meetingHoursAverage,meetingHoursStandardDeviation,inPersonMeetingHoursTotal,inPersonMeetingHoursAverage,...,standardDeviationUniqueCommitMessagePercentByWeek,averageCommitMessageLengthTotalByWeek,standardDeviationCommitMessageLengthTotalByWeek,averageCommitCountByStudent,standardDeviationCommitCountByStudent,averageUniqueCommitMessageCountByStudent,issueCount,onTimeIssueCount,lateIssueCount,SE Process grade
0,3,0.0000,0,1,1,2.000000,2.000000,0.000000,2.000000,2.000000,...,0.0,57.0,0.0,4.0,0.0,3.0,2,2,0,0
1,3,0.3333,1,1,3,9.714286,3.238095,3.299832,6.285715,2.095238,...,0.0,127.0,0.0,4.0,0.0,3.0,2,2,0,1
2,4,0.0000,0,1,3,4.000000,1.333333,0.471405,3.428572,1.142857,...,0.0,0.0,0.0,7.0,0.0,1.0,1,1,0,0
3,6,0.0000,0,0,1,2.000000,2.000000,0.000000,1.000000,1.000000,...,0.0,45.0,0.0,2.0,0.0,2.0,0,0,0,1
4,6,0.1667,0,0,3,11.000000,3.666667,1.699673,5.000000,1.666667,...,0.0,13.0,0.0,1.0,0.0,1.0,0,0,0,1

In [8]:
fileName = "LSVT_voice_rehabilitation.xlsx"
df = pd.read_excel(os.path.join("original", fileName), sheet_name="Data")
dfLabel = pd.read_excel(os.path.join("original", fileName), sheet_name="Binary response", names=["Binary class"])
df["Binary class"] = dfLabel["Binary class"] 
df = preprocess_df(df, "Voice_Rehabilitation.csv")
df.head()

Original - Voice_Rehabilitation.csv: (126, 311)
Preprocess - Voice_Rehabilitation.csv: (126, 311)

,Jitter->F0_abs_dif,Jitter->F0_dif_percent,Jitter->F0_PQ5_classical_Schoentgen,Jitter->F0_PQ5_classical_Baken,Jitter->F0_PQ5_generalised_Schoentgen,Jitter->F0_abs0th_perturb,Jitter->F0_CV,Jitter->F0_TKEO_mean,Jitter->F0_TKEO_std,Jitter->F0_TKEO_prc5,...,det_TKEO_std4_2_coef,det_TKEO_std4_3_coef,det_TKEO_std4_4_coef,det_TKEO_std4_5_coef,det_TKEO_std4_6_coef,det_TKEO_std4_7_coef,det_TKEO_std4_8_coef,det_TKEO_std4_9_coef,det_TKEO_std4_10_coef,Binary class
0,0.088112,0.041697,0.000480,-3.723304e-06,0.000422,2.458381,6.332164e-07,47.021079,1366.430390,-7.103323,...,7.088978,19.753255,54.335046,145.528630,375.097397,921.296579,2137.079844,4697.131077,9931.208257,1
1,0.161798,0.057364,0.000677,5.466365e-06,0.000206,2.592066,7.228518e-07,93.557936,2582.922776,-23.284761,...,7.977363,22.203504,60.993338,163.560972,421.010306,1036.092589,2404.072562,5284.082128,11165.095662,2
2,0.554508,0.642913,0.007576,-7.443871e-07,0.006488,12.691326,6.946246e-04,52.988422,466.682635,-45.308680,...,5.078616,14.135923,38.641654,103.466808,264.654626,649.657090,1507.384591,3315.804236,6974.600636,2
3,0.031089,0.027108,0.000314,-2.214722e-07,0.000216,0.754288,1.868647e-07,13.982754,417.217249,-1.207741,...,5.610448,15.626164,42.943275,115.014975,296.320795,728.284936,1689.586636,3713.818933,7851.139360,1
4,0.076177,0.039071,0.000302,2.732106e-05,0.001102,1.270034,4.918186e-05,56.373996,1608.317410,-3.491990,...,6.902199,19.117609,52.715873,141.113865,363.511021,893.246151,2071.625622,4554.204815,9623.566242,2